ing2/IOT1/tp1-IMBERT-Ivan/mqtt/flow_mqtt.json
[
    {
        "id": "e202cc8478d58830",
        "type": "tab",
        "label": "Flow Mqtt",
        "disabled": false,
        "info": ""
    },
    {
        "id": "109869a7fb2e924b",
        "type": "mqtt in",
        "z": "e202cc8478d58830",
        "name": "",
        "topic": "esp32/dht/temperature",
        "qos": "1",
        "datatype": "auto",
        "broker": "1be0c1b517c91810",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 620,
        "y": 360,
        "wires": [
            [
                "35635bfd290ae17d",
                "0fbb7b1b3a077797"
            ]
        ]
    },
    {
        "id": "35635bfd290ae17d",
        "type": "ui_gauge",
        "z": "e202cc8478d58830",
        "name": "",
        "group": "c0b8d28fe2993636",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperature",
        "label": "ºC",
        "format": "{{value}}",
        "min": 0,
        "max": "40",
        "colors": [
            "#00b500",
            "#f7df09",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 910,
        "y": 360,
        "wires": []
    },
    {
        "id": "e202e6f971669326",
        "type": "mqtt in",
        "z": "e202cc8478d58830",
        "name": "",
        "topic": "esp32/dht/humidity",
        "qos": "1",
        "datatype": "auto",
        "broker": "1be0c1b517c91810",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 610,
        "y": 440,
        "wires": [
            [
                "ae124a91c819ecd9",
                "34b79c16cc36eea7"
            ]
        ]
    },
    {
        "id": "ae124a91c819ecd9",
        "type": "ui_gauge",
        "z": "e202cc8478d58830",
        "name": "",
        "group": "c0b8d28fe2993636",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "wave",
        "title": "Humidity",
        "label": "%",
        "format": "{{value}}",
        "min": "30",
        "max": "100",
        "colors": [
            "#53a4e6",
            "#1d78a9",
            "#4e38c9"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 900,
        "y": 440,
        "wires": []
    },
    {
        "id": "8bf4e7b1c2a20de4",
        "type": "mqtt out",
        "z": "e202cc8478d58830",
        "name": "",
        "topic": "esp32/led",
        "qos": "1",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "1be0c1b517c91810",
        "x": 880,
        "y": 520,
        "wires": []
    },
    {
        "id": "a363f8a029ec6afc",
        "type": "ui_button",
        "z": "e202cc8478d58830",
        "name": "LEDControl",
        "group": "c0b8d28fe2993636",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "LEDControl",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 570,
        "y": 520,
        "wires": [
            [
                "8bf4e7b1c2a20de4"
            ]
        ]
    },
    {
        "id": "0fbb7b1b3a077797",
        "type": "ui_chart",
        "z": "e202cc8478d58830",
        "name": "",
        "group": "427c3fbb83b5877c",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Temperature over time",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 960,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "34b79c16cc36eea7",
        "type": "ui_chart",
        "z": "e202cc8478d58830",
        "name": "",
        "group": "427c3fbb83b5877c",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Humidity over time",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 950,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "1be0c1b517c91810",
        "type": "mqtt-broker",
        "name": "Brocker Ivan",
        "broker": "192.168.35.57",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "c0b8d28fe2993636",
        "type": "ui_group",
        "name": "DHT",
        "tab": "4a0595a5.faafa4",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "427c3fbb83b5877c",
        "type": "ui_group",
        "name": "DHT Over Time",
        "tab": "4a0595a5.faafa4",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "4a0595a5.faafa4",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]